.cart-icon {
    font-size: 1.7rem;
}

.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:0.8rem;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
  }

  .fa-stack {
      height: 2rem !important;
      line-height: 0 !important;
      width: 0.5em !important;;
  }